.flag-icon-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1.33333333em;
	line-height: 1em;
}

.flag-icon:before {
	content: '\00a0';
}

.flag-icon.flag-icon-squared {
	width: 1em;
}

.flag-icon-de {
	background-image: url(../svg/de.svg);
}

.flag-icon-de.flag-icon-squared {
	background-image: url(../svg/de11.svg);
}

.flag-icon-fr {
	background-image: url(../svg/fr.svg);
}

.flag-icon-fr.flag-icon-squared {
	background-image: url(../svg/fr11.svg);
}

.flag-icon-gb {
	background-image: url(../svg/gb.svg);
}

.flag-icon-gb.flag-icon-squared {
	background-image: url(../svg/gb11.svg);
}




.news {
    width: 160px;
    border-radius: 8px;
}

.news-scroll a {
    text-decoration: none;
    text-decoration-color: black;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207, 23, 23);
    border-radius: 50%;
    display: inline-block
}